/* Menu left Sidebar Style inspired on the example in CodePen, by Rafael Amorim
Link ot the example: https://codepen.io/raf187/pen/PXrxzZ */

body{
    font-family: 'Cabin';
    background-color: #57a89b;
  }
  .menu {
    top: 0;
    font-size: 17px;
    font-weight: 100;
    background: #57a89b;
    width: 160px;
    height: 100%;
    padding-left: 50px;
    position: fixed;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    left: -170px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #EEEEEE;
    z-index: 100;
    grid-column: 1;
  }
  .menu:hover, .menu:focus {
    transform: translate3d(120px, 0, 0);
    animation-timing-function: 1s ease-in;
    cursor: pointer;
  }
  .menu .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    transform: rotate(270deg);
    left: 170px;
    font-weight: 800;
    font-size: 15px;
  }
  .menu .nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
    padding-left: 15px;
  }
  .menu .nav li {
    padding-bottom: 30px;
    list-style-type: none;
  }
  .menu .nav li a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .menu .nav li b {
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
  }
  .menu .nav li a:hover {
    color: #24272c;
  }
  .menu .nav li b:hover {
    color: #24272c;
  }