**/.vscode
**/__pycache__
**/.antlr
**/.idea
src/persistency/Mongo_Ingest_Data_Dealing/code/*
src/persistency/Mongo_Ingest_Data_Dealing/code_discard/*
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_ingest_20231102/*
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_ingest20231119/*
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_ingest_20231216/repositories.accepted_code.json
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_ingest_20231216/repositories.discarded_code.json
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_ingest20240805/repositories.accepted_code_antique
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_ingest20240226/*
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_ingest20231126/*
src/persistency/Mongo_Ingest_Data_Dealing/mongoDB_*/*.json
*/.settings
