<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div class="content-div">
            {% include "sidebar.html" %}
            {% include "input.html" %}
            {% include "display.html" %}        
            {% if circuit != "" and not err_title %}
                {% include "results.html" %}
            {% endif %}
            {% if feedback %}
                {% include "feedback.html" %}
            {% endif %}
            {% if warnings %}
                {% include "warnings.html" %}
            {% endif %}
        </div>
    </body>
</html>