<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div class="display-div">
            <div class="container-div">
                <span class="cabin-bullet dark-green inline-item">2)</span>
                <p class="cabin-h1 semidark-blue inline-item">Check Your Circuit</p>
                <div class="btn btn-primary tooltip">
                    <span class="inline-item">
                        <img class="inline-button" src="{% static 'imgs/icons/info.png' %}">
                    </span>
                    <div class="right">
                        <h3 class="cabin-help-h dark-green">QPainter</h3>
                        <p class="cabin-help-p dark-blue">The embedded application in this section is a read-only version of <b>Alarcos' QPainter</b> tool.<br><br>For more information, check the Help Section in the Menu of this website.</p>
                        <i></i>
                    </div>
                </div>
            </div>
            <p class="cabin-p dark-blue">Check here if the quantum circuit given in the previous step is designed as you were expecting. If it is not the case, check the circuit and go to 1).</p>
            
            {% if not err_title %}
            <div class="circuit-iframe-container">
                {% with "http://172.20.48.7:8000/"|add:circuit as iframe_src%}
                    <iframe id="display-iframe" title="Display Frame" class="circuit-iframe" src="{{ iframe_src }}"></iframe>
                {% endwith %}
            </div>
            {% else %}
                {% include "error.html" %}
            {% endif %}
        </div>
    </body>
</html>
