<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--TAB TITLE-->
        <title>QCPD Tool</title>
        <!--STYLESHEETS-->
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/structure.css' %}">
        <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/slideshow.css' %}">
        <!--SCRIPTS-->
        <script defer type="module" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <!--FAVICON-->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <!--CONNECTS & REMOTE FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">    
    </head>
    <body class="custom-body">
        <div class="main-grid">
            {% include "title.html" %}
            {% include "content.html" %}
        </div>
    </body>
</html>