<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div class="input-div">
            <div class="container-div">
                <span class="cabin-bullet dark-green inline-item">1)</span>
                <p class="cabin-h1 semidark-blue inline-item">Enter Your Circuit</p>
                <div class="btn btn-primary tooltip">
                    <span class="inline-item">
                        <img class="inline-button" src="{% static 'imgs/icons/info.png' %}">
                    </span>
                    <div class="right">
                        <h3 class="cabin-help-h dark-green">Input Format</h3>
                        <p class="cabin-help-p dark-blue">The input format (JSON) must be correct according to the <b>Alarcos' QPainter</b> guides.<br><br>For more information, visit the GitHub repository inside the Help Section in the Menu of this website.</p>
                        <i></i>
                    </div>
                </div>
            </div>
            <p id="input-instructions" class="cabin-p dark-blue">Paste here your Quantum Circuit in the correct JSON format according to QPainter.</p>

            <form method="post" action="/">
                {% csrf_token %}
                <textarea class="input-textarea cabin-lowest" name="input_circ" id="input_circ" placeholder="Your quantum circuit goes here...">{{ circuit }}</textarea>
                <div class="input-keypad">
                    <!-- UNCOMMENT FOR INPUT SCALABILITY IMPROVEMENT
                        <div class="btn btn-primary tooltip">
                            <select name="input_format" id="input_format" class="format-combo" value="xml">
                                <option style="font-family: Arial;" value="json">JSON</option>
                                <option style="font-family: Arial;" value="xml">XML</option>
                            </select>
                            
                            <div class="top">
                                <h3 class="cabin-help-p dark-green">Input Format Settings</h3>
                                <i></i>
                            </div>
                        </div>
                    -->
                    
                    <button class="negative-button dark-grey">Clear</button>
                    <input type="submit" class="positive-button light-grey" value="Submit"></input>            
                </div>
            </form>

        </div>
    </body>
</html>
