<!--Menu left Sidebar HTML Template inspired on the example in CodePen, by Rafael Amorim
Link ot the example: https://codepen.io/raf187/pen/PXrxzZ-->

<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div class="menu">
            <div class="title">Menu</div>
            <ul class="nav">
                <!-- Change URL when deploying -->
                <li><a href="http://127.0.0.1:8008/">Clear All</a></li>
                <li id="pats-li"><b>Pattern List</b></li>
                <li id="refs-li"><b>References</b></li>
                <li><a href="https://drive.google.com/file/d/1EtxbhdEhhfefI3xXj8pMmJWAHqOMiLyA/view?usp=sharing" target="_blank">Help</a></li>
            </ul>
        </div>
        <dialog id="refs-dialog" class="menu-dialog">
            <p class="cabin-dialog-title light-green">References</p>
            <ul class="dialog-link-list">
                <li class="cabin-dialog-p light-grey"><a class="dialog-link" href="https://www.scitepress.org/Link.aspx?doi=10.5220/0011744000003467" target="_blank"><i><u>"A Systematic Mapping Study on Quantum Circuits Design Patterns"</u></i></a></li>
                <li class="cabin-dialog-p light-grey"><a class="dialog-link" href="https://www.quantumcomputingpatterns.org/#/" target="_blank"><i><u>"Quantum Computing Patterns"</u></i></a></li>
                <li class="cabin-dialog-p light-grey"><a class="dialog-link" href="https://arxiv.org/abs/1906.03082" target="_blank"><i><u>"Towards a Pattern Language for Quantum Algorithms"</u></i> ~ F. Leymann</a></li>
            </ul>
            <button id="close-refs-dialog-btn" class="cabin-dialog-button dialog-close-button light-blue" data-dismiss="modal">Close</button>
        </dialog>
        <dialog id="pats-dialog" class="menu-dialog">
            <p class="cabin-dialog-title light-green">Pattern List</p>
            <ul class="dialog-link-list">
                {% for pattern in patterns %}
                    <li><p class="cabin-dialog-h light-blue"><a class="dialog-link" href="{{ pattern.url }}" target="_blank"><i><u>{{ pattern.name }}</u></i></a></p><p class="cabin-dialog-p light-grey">{{ pattern.desc }}</p></li>
                {% endfor %}
            </ul>
            <button id="close-pats-dialog-btn" class="cabin-dialog-button dialog-close-button light-blue" data-dismiss="modal">Close</button>
        </dialog>
    </body>
</html>
