{% extends "base.html" %}
{% block title %}QuanticWave{% endblock %}

{% block titulo %}
<div style="text-align: center; background-color: #5F6F52;">
  <div style= "color: #FEFAE0">
    <h1>Data ingestion</h1><br>
  </div>
</div>
<br>
{% endblock %}

{% block content %}
<style>
  .form-inline .form-control {
    width: auto;
  }
</style>

{% for field, errors in form.errors.items() %}
	<div class="alert alert-danger">
    {{ form[field].label }}: {{ ', '.join(errors) }}
	</div>
{% endfor %}

<div class="row justify-content-center">
  <div class="col-6"> <!-- primera mitad de la pantalla -->
    <form method="post" id="ingestForm">
      {{ form.csrf_token }}
      <div class="row justify-content-center">
        <div class="col-auto justify-content-center">
        <div class="form-group container">
          <div class="col-auto text-left">
              <div class="row align-items-center">
                <div class="col-auto">
                  {{ form.language.label() }}:         
                </div>
                <div class="col-auto">
                  {% for subfield in form.language %}
                  <div class="form-check">
                      {{ subfield(class="form-check-input", type="checkbox", id="checkBox{{loop.index}}") }}
                      <label class="form-check-label" for="checkBox{{loop.index}}">{{ subfield.label }}</label>
                  </div>
                  {% endfor %}
                  <!--{{ form.language(class="form-select text-center", id="language") }}-->
                </div>
              </div>
              <br>
              <div class="row align-items-center">
                <div class="col-auto">
                  {{form.from_date.label()}}:
                </div>
                <div class="col-auto">
                  {{ form.from_date(class="form-control datepicker text-center", id="from_date") }}        
                </div>
              </div>
              <br>
              <div class="row align-items-center">
                <div class="col-auto">
                  {{form.to_date.label()}}:
                </div>
                <div class="col-auto">
                  {{ form.to_date(class="form-control datepicker text-center", id="from_date") }}        
                </div>
              </div>
              <br>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col text-center">
            {{ form.start(class="btn btn-success btn-lg", id="startIngest") }}
            {{ form.cancel(class="btn btn-danger btn-lg", id="stopIngest") }}
            
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#ingestions" id="ingestionsButton">
              Other ingestions...
            </button>
          
            <div class="modal fade" id="ingestions" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="text-align: center;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight: bold;">Choose other ingestions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="text-align: left">
                    <p>Here, you can select other ingestion proposed by the tool</p>
                    {{ form.select.label() }}:                     
                    {{ form.select(class="form-select text-center", id="select") }}    
                    {{ form.save(class="btn btn-success btn-lg") }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-6"><!-- Segunda mitad de la pantalla -->
    <div class="progress" role="progressbar">
      <div class="progress-bar" style="width: 75%">Progress: 75%</div>
    </div>
    <br>
    <p>Console:</p>
    <fieldset class="border">
      <p id="dynamic-terminal" style="font-family: 'Reddit Mono', monospace; font-optical-sizing: auto; font-weight: 400; font-style: normal; font-size: 0.75em;">
        Lorem Ipsum is simply dummy text of the printing and 
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown 
        printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five 
        centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised 
        in the 1960s with the release of Letraset sheets containing 
        Lorem Ipsum passages, and more recently with desktop 
        publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum.
      </p>
    </fieldset>
  </div>
</div>
<br><br><br>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById('ingestForm').addEventListener('submit', function(event) {
    const form = this;
    if (!form.checkValidity()) {
      event.preventDefault();
      event.stopPropagation();
      return false;
    }
    
    event.preventDefault();
    const formData = new FormData(form);
    fetch('/', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      console.log(data.status);
      updateStatus();
    });
  });

  function updateStatus() {
    fetch('/ingest-status')
    .then(response => response.json())
    .then(data => {
      var startIngestBtn = document.getElementById('startIngest');
      document.getElementById('dynamic-terminal').textContent = data.terminal_text;
      console.log(data)
      if (data.thread_running) {
        startIngestBtn.disabled = true;
      } else {
        startIngestBtn.disabled = false;
      }
    });
  }
  setInterval(updateStatus, 1000);
</script>
{% endblock %}

{% block pie %}
<div id="footer" style="background-color: #7b644d; color: #ffff;">
  <div class="row align-items-center">
    <div class="col text-center">
      <img src="/static/img/image.png" alt="alarcos" width="250" height="90" class="d-inline-block align-text-center" style="margin-center: 6px;">
    </div>
    <div class="col align-items-center text-left" style="font-size: small;">
        <p>Miriam Fernández Osuna</p>
        <p>Degree in computer engineering</p>
        <p>Facultad de Ciencias Sociales y Tecnologías de la Información</p>
    </div>
  </div>
</div>
{% endblock %}