{% extends "base.html" %}
{% block title %}QuanticWave{% endblock %}

{% block titulo %}
<div style="text-align: center; background-color: #5F6F52;">
  <div style= "color: #FEFAE0">
    <h1>Data ingestion</h1>
  </div>
</div>
<br>
{% endblock %}

{% block content %}
<style>
  .form-inline .form-control {
    width: auto;
  }
</style>

{% for field, errors in form.errors.items() %}
	<div class="alert alert-danger">
    {{ form[field].label }}: {{ ', '.join(errors) }}
	</div>
{% endfor %}

<div class="row justify-content-center">
  <div class="col-6"> <!-- primera mitad de la pantalla -->
    <form method="post">
      {{ form.csrf_token }}
      <div class="form-group container text-center">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            {{ form.language.label() }}:         
          </div>
          <div class="col-auto">
            {{ form.language(class="form-select", id="language") }}    
          </div>
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            {{form.from_date.label()}}:
          </div>
          <div class="col-auto">
            {{ form.from_date(class="form-control datepicker", id="from_date") }}        
          </div>
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            {{form.to_date.label()}}:
          </div>
          <div class="col-auto">
            {{ form.to_date(class="form-control datepicker", id="from_date") }}        
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col text-center">
            {{ form.ingest(class="btn btn-success btn-lg") }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-6"><!-- Segunda mitad de la pantalla -->
    <div class="progress" role="progressbar">
      <div class="progress-bar" style="width: 75%">Progress: 75%</div>
    </div>
    <br>
    <p>Console:</p>
    <fieldset class="border">
      <p id="dynamic-terminal" style="font-family: 'Reddit Mono', monospace; font-optical-sizing: auto; font-weight: 400; font-style: normal; font-size: 0.75em;">
        Lorem Ipsum is simply dummy text of the printing and 
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown 
        printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five 
        centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised 
        in the 1960s with the release of Letraset sheets containing 
        Lorem Ipsum passages, and more recently with desktop 
        publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum.
      </p>
    </fieldset>
  </div>
</div>
<br><br><br>
{% endblock %}

{% block scripts %}
<script>
  function updateTerminal() {
    fetch('/get-terminal-text')
      .then(response => response.text())
      .then(data => {
        document.getElementById('dynamic-terminal').textContent = data;
      });
  }
  setInterval(updateTerminal, 1000);
</script>
{% endblock %}

{% block pie %}
<div id="footer" style="background-color: #7b644d; color: #ffff;">
  <div class="row align-items-center">
    <div class="col text-center">
      <img src="/static/img/image.png" alt="alarcos" width="250" height="90" class="d-inline-block align-text-center" style="margin-center: 6px;">
    </div>
    <div class="col align-items-center text-left" style="font-size: small;">
        <p>Miriam Fernández Osuna</p>
        <p>Degree in computer engineering</p>
        <p>Facultad de Ciencias Sociales y Tecnologías de la Información</p>
    </div>
  </div>
</div>
{% endblock %}